*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: sans-serif;
}
.quiz-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 235, 226);
}

#quiz-board{
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

#quiz-board h1.quiz-title{
    color:rgb(245, 136, 97);
    font-size: 3.5rem;
}
#quiz-board p.description{
    font-size: 1.4rem;
}

#result-screen{
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}
#result-screen h1{
    color:rgb(245, 136, 97);
    font-size: 3.5rem;
    
}
.result-info{
    background-color: rgb(243, 235, 226);
    width: 80%;
    height: 80px;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.2rem;
    overflow: hidden;
}
#result-message{
    line-height: 45px;
    font-weight: bold;
}
#question-board{
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}
#question-board #question{
    font-size: 2.5rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    font-size: 1.2rem;
}
.select-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    height: 200px;
}
.select-section .answers{
    height: 40px;
    border-radius: 12px;
    background-color: rgb(243, 235, 226);
    border-width: 1px;
    box-shadow: 1px 2px 2px grey;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    overflow: hidden;
}
.select-section .answers:hover{
    background-color: rgb(214, 202, 188);
}
.select-section .answers:active{
    background-color: rgb(184, 171, 156);
}
.answers .correct{
    background-color: lightgreen;
}
.answers .incorrect{
    background-color: rgb(215, 52, 52);
}
.progress-bar{
    height: 10px;
    background-color: rgb(243, 235, 226);
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
}
.progress{
    height: 100%;
    background-color: rgb(245, 136, 97);
    width: 0%;
    transition: width 0.3s ease;
}
#progress0{
    height: 100%;
    background-color: rgb(245, 136, 97);
    width: 0%;
    transition: width 0.3s ease;
}

#progress25{
    height: 100%;
    background-color: rgb(245, 136, 97);
    width: 25%;
    transition: width 0.3s ease;
}
#progress50{
    height: 100%;
    background-color: rgb(245, 136, 97);
    width: 50%;
    transition: width 0.3s ease;
}
#progress75{
    height: 100%;
    background-color: rgb(245, 136, 97);
    width: 75%;
    transition: width 0.3s ease;
}
#progress100{
    height: 100%;
    background-color: rgb(245, 136, 97);
    width: 100%;
    transition: width 0.3s ease;
}

#start{
    border-color: transparent;
    border-radius: 25px;
    width: 200px;
    height: 100px;
    background-color: rgb(245, 136, 97);
    color: white;
    font-size: 25px;
    box-shadow: 3px 5px 1px grey, 0 10px 15px rgba(0,0,0,0.3);;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}
#start:hover{
    background-color: rgb(220, 115, 76);
}
#start:active{
    background-color: rgb(202, 99, 61);
}
#restart{
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 100px;
    background-color: rgb(245, 136, 97);
    color: white;
    font-size: 25px;
    box-shadow: 3px 5px 1px grey,
    0 10px 15px rgba(0,0,0,0.3);;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}
#restart:active{
    background-color: rgb(203, 102, 65);
}

